/*
Colors used:
Primary Color (MintCream): #F5FFFA;
Secondary Color (Silver): #C0C0C0;
Link and Button Color (CadetBlue): #5F9EA0; .20 darker: #263f40; .80 lighter: #bfd8d9;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #ff44c4;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
  position: relative;
}



body {
  font-family: 'Oswald', sans-serif;
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
#hero h1 {
  text-align: center; /* Centers text */
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
/*
Buttons and links
*/
a {
  color: #5F9EA0;
  text-decoration: none; /* No underlining */
}
  a:visited { /* visited link */
  color: #5F9EA0;
}
a:hover {
  color: #263f40;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #bfd8d9;
}
a:focus {
  color: #263f40;
  text-decoration: underline;

}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #5f9ea0;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #263f40; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active { /*selected link */
  color:#bfd8d9;
}

.button.contact {
  background-color: transparent;
  color: #5f9ea0 !important;
  text-transform: uppercase;
  border: 2px solid #5f9ea0;
}
.button.contact:hover {
  background-color: #5f9ea0;
  color: #ffffff !important;
}
.button.contact:active {
  background-color: #5f9ea0
  color: #bfd8d9 !important;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}

/* Logo */
.logo {
  max-width: 250px
  text-align: center;
}
